.serach-background {
    /* background: red; */
    /* background: linear-gradient(180deg, rgba(91, 99, 121, 0.63) 0%, rgba(46, 52, 68, 0) 100%); */
    background-image: url("../../assets/cart_page/bg_pattern.png");
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.serach-box {
    display: flex;
    gap: 1rem;
    background: #ffffff;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

input.searchField {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
    outline: none;
    border: none;
    position: relative;
    width: 30vw;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 13px 20px;
}

.search-input {
    position: relative;
}

img.icn_search {
    position: absolute;
    right: 14px;
    top: 9px;
}

img.now_button {
    height: 45px;
    width: 61px;
    margin-top: 8px;
}

.breadcrumbs {
    background: #e3e6f066;
    position: fixed;
    /* display: flex; */
    left: 0;
    right: 0;
    top: 11.5rem;
    /* height: 100%; */
    /* width: 116vw; */
}

ul.breadcrumb {
    /* padding: 10px 16px; */
    list-style: none;
    background-color: #eee;
    padding: 0.5rem 13rem;
    display: flex;
    justify-content: center;
    height: 100vh;
}

ul.breadcrumb li {
    display: inline;
    /* font-size: 18px; */
    color: #3F3F40;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.navbarContainer {
    display: flex;
    justify-content: center;
}